body {
    background-color: #1D1D1D;
    margin-top: 0;
    margin-left:0;
}

.website-nav {
    position: relative;
    display: flex;
    gap: 5rem;
    position: fixed;
    width: 100vw;
    background-color: white;
    align-items: center;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5rem;
}

h1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #1d1d1d;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
}

h3 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
    color:#767676;
}

h4 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
    text-transform: uppercase;
    color:#1d1d1d;
}

h6 {
    font-family: Helvetica, sans-serif; 
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    padding-left: 1rem;
    color:#767676;
}

h7 {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    color: white;
}

p {
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

a {
    color: white;
    background-image: linear-gradient(white, white);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.1s ease-in-out;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    background-size: 100% 0.1em;
}

.website-nav a {
    color: #1d1d1d;
    background-image: linear-gradient(#1d1d1d, #1d1d1d);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    text-decoration: none;
}

.website-nav a:hover, 
.website-nav a:focus, 
.website-nav a:active {
    background-size: 100% 0.1em;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    color: white;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.product-listing{
    border-bottom-style: solid;
    border-bottom-width: 0.05rem;
    border-bottom-color: #767676;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.text-container {
    max-width: 50vw;
}

/*
.footer {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 4rem;
    align-content: center;
    color: white;
    background-color: #1d1d1d;
}
*/
