body {
    background-color: #1D1D1D;
    margin-top: 0;
    margin-left:0;
}

.website-nav {
    position: relative;
    display: flex;
    gap: 5rem;
    position: fixed;
    width: 100vw;
    background-color: white;
    align-items: center;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5rem;
}

h1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #1d1d1d;
}

h4 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
    text-transform: uppercase;
    color:#1d1d1d;
}

.website-nav a {
    color: #1d1d1d;
    background-image: linear-gradient(#1d1d1d, #1d1d1d);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    text-decoration: none;
}

.website-nav a:hover, 
.website-nav a:focus, 
.website-nav a:active {
    background-size: 100% 0.1em;
}
